

/*vista mobile*/
@media only screen and (min-width:0px) and (max-width:767px) {
    .itemDetail-img{
        width: 300px;
        height: 300px;
        object-fit: contain;
    }
}

/* vista entre desktop y mobile */
@media only screen and (min-width:768px) and (max-width:1239px) {
    .itemDetail-img{
        width: 500px;
        height: 500px;
        object-fit: contain;
    }
}

/*vista desktop */
@media only screen and (min-width:1240px) {
    .itemDetail-img{
        width: 500px;
        height: 500px;
        object-fit: contain;
    }
}